.signup-container {
  background: linear-gradient(135deg, #0070bb, #ffffff);
}

.signup-card {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.btn.signup-btn {
  background-color: #0070bb; /* Change this to your desired button color */
  border: none;
}

.btn.signup-btn:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

@media (max-width: 576px) {
  .signup-card {
   margin-bottom: 30px;
  }
}
